@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;700&display=swap');

@font-face {
    font-family: 'Safira March Personal Use';
    src: url(/fonts/SafiraMarchPersonalUse.eot);
    src: url(/fonts/SafiraMarchPersonalUse.eot?#iefix) format('embedded-opentype'),
        url(/fonts/SafiraMarchPersonalUse.woff2) format('woff2'),
        url(/fonts/SafiraMarchPersonalUse.woff) format('woff'),
        url(/fonts/SafiraMarchPersonalUse.ttf) format('truetype'),
        url(/fonts/SafiraMarchPersonalUse.svg#SafiraMarchPersonalUse) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* HEADER */
header{
    background: #ECCAC2;
}
.top-header{
    font-family: 'Safira March Personal Use', sans-serif;
}
.nav-menu{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
} 

/* HERO */
.hero-section .card{
    background: #ECCAC2;
    max-width: 40rem;
    width:100%;
    height: auto;
}
